*{
    box-sizing: border-box;
    list-style-type: none;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}
input{
    outline: none;
    box-shadow: none;
    padding-left: 20px;
    font-size: 12px;
}

header.main-header{
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
header .logo img{
    width: 200px;
}
header .searchbar input{
    border: 1px solid lightgray;
    line-height: 40px;
}

header .searchbar .location{
    border-radius: 20px 0 0 20px;
    width:125px;
}
header .searchbar .search-service{
    border-radius: 0 20px 20px 0;
    border-left: none;
    width: 470px;

}
header ul.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    padding-left: 0;
}
header ul.menu a,
header ul.menu li{
    text-decoration: none;
    color: inherit;
}

/* Banner carousel */
section.banner .banner__left-side{
    width: 75%;
    background-color: #8bb0b3;
    height: inherit;
}

section.banner{
    height: 365px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
section.banner .banner__left-side .carousel-body .carousel-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section.banner .banner__left-side .carousel-body .carousel-indicator span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    top: 20px;
    left: 50%;
}
section.banner .banner__right-side{
    width: 25%;
    /* background-color: #f5f7f8 ; */
    background-color: #f5f7f8 ;
    height: inherit;
    padding: 20px;
    position: relative;
}
section.banner h1{
    padding-bottom: 10px;
    border-bottom: 10px solid #e3e5e5;
    margin: 0;
    color: #1b267c;
}
section.banner .banner__right-side .fact1,
section.banner .banner__right-side .fact2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 0;
}
section.banner .banner__right-side .fact1{
    border-bottom: 1px solid #e3e5e5;
}
section.banner .banner__right-side span{
    max-width: 190px;
}
section.banner .banner__right-side::after{
    content: url(../images/chat-icon.png);
    position: absolute;
    right: 20px;

}