*{
    box-sizing: border-box;
    list-style-type: none;
}
img{
    max-width: 100%;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}
input{
    outline: none;
    box-shadow: none;
    padding-left: 20px;
    font-size: 12px;
}

header.main-header{
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
header .logo img{
    width: 200px;
}
header .searchbar input{
    border: 1px solid #666666;
    line-height: 40px;
}

header .searchbar .location{
    border-radius: 20px 0 0 20px;
    width:125px;
}
header .searchbar .search-service{
    border-radius: 0 20px 20px 0;
    border-left: none;
    width: 470px;

}
header ul.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    padding-left: 0;
}
header ul.menu a,
header ul.menu li{
    text-decoration: none;
    color: inherit;
}

/* Banner carousel */
section.banner .banner__left-side{
    width: 75%;
    background-color: #8bb0b3;
    height: inherit;
}

section.banner{
    height: 365px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
section.banner .banner__left-side .carousel-body .carousel-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section.banner .banner__left-side .carousel-body .carousel-indicator span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    top: 20px;
    left: 50%;
}
section.banner .banner__right-side{
    width: 25%;
    /* background-color: #f5f7f8 ; */
    background-color: #f5f7f8 ;
    height: inherit;
    padding: 20px;
    position: relative;
}
section.banner h1{
    padding-bottom: 10px;
    border-bottom: 10px solid #e3e5e5;
    margin: 0;
    color: #1b267c;
}
section.banner .banner__right-side .fact1,
section.banner .banner__right-side .fact2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 0;
}
section.banner .banner__right-side .fact1{
    border-bottom: 1px solid #e3e5e5;
}
section.banner .banner__right-side span{
    max-width: 190px;
}
section.banner .banner__right-side::after{
    content: url(../images/chat-icon.png);
    position: absolute;
    right: 20px;
    bottom: -26px;

}

/* slider */
section.slider{
    padding: 20px;
}
section.slider .slider-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.slider .slider-container .first-slide,
section.slider .slider-container .second-slide{
    background-color: #d9eafa;
    width: 48%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1b267c;
    
}
section.slider .slider-container .second-slide{
    background: linear-gradient(90deg, white 44%, #cad6ed 55%);
}
section.slider .slider-container .slides-image{
    height: 230px;
    width: 390px;
}

section.slider .slider-container img{
    display: block;
    width: 100%;
    height: 100%;
}
section.slider .slider-container .slides-content{
    width: 400px;
}

section.slider .slider-container .slider-text{
    text-align: center;
    padding-top: 30px;
}
section.slider .slider-container .slider-text h1,
section.slider .slider-container .slider-text h2{
    margin: 0;
    text-transform: uppercase;
    font-family: "Source Serif Varaible Bold";
}
section.slider .slider-container .slider-text h1{
    font-size: 3.5em;
}
section.slider .slider-container .slider-text h2{
    font-size: 2em;
    line-height: 0.5;
}
section.slider .slider-container .slider-text button{
    margin: 25px;
    border:none;
    background-color: #cad6ed;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid #8cbedd;
    font-size: 0.7em;
    text-transform: uppercase;

}
section.slider>h1{
    padding-bottom: 10px;
    color: #1b267c;
    text-align: center;
    font-size: 2em;
    margin: 10px;
}
div#img-gradient{
    position: relative;
}
div#img-gradient img{
    opacity: 0.8;
}
#img-gradient::after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: linear-gradient(13deg, rgba(0,47,75,0.1) 64%,rgba(255,255,255,0.4));

  }
  #img-gradient img{
    display:block;
  }

/* What's up */
section.whatsup h1{
    font-size: 2em;
    color: #1b267c;
    text-align: center
}



/* Three-rows */

section.three-rows{
     padding-left: 50px;
     padding-right: 50px;
}

section.three-rows h1{
    color: #1b267c;
    font-weight: 200;
    padding-left: 20px;
}

.three-rows .row1,
.three-rows .row2,
.three-rows .row3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.three-rows .row2{
    margin-bottom: 50px;
}

.three-rows .row1 .placard,
.three-rows .row2 .placard{
    width: 290px;
    height: 290px;
}
.three-rows .row3 .placard{
    position: relative;
}
.three-rows .row1 .placard img{
    display: block;
}
.three-rows .placard .imgplustext p{
    height: 30px;
}
section.three-rows .placard .buy-now{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ebebeb;
    padding-top: 10px;
    font-size: 0.8em;
}
section.three-rows .placard .buy-now a{
    text-decoration: none;
    color: inherit;
    color: #6acff6;
    font-weight: 00;
    font-family: sans-serif;
    position: relative;

}
section.three-rows .placard .buy-now a::after{
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    border-top: 4px solid #6acff6;
    border-right: 4px solid #6acff6;
    transform: rotate(45deg);
    right: -15px;
    bottom: 3px;
}
section.three-rows .placard .buy-now .offer{
    display: flex;
    align-items: center;
    color: #61be80;
}
section.three-rows .placard .placard-container{
    padding: 5px;
}

section.three-rows .row3 .placard img{
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}

section.three-rows .row3 .placard .imgplustext{
    position: absolute;
    top: 0;
    left: 25px;
}
section.three-rows .row3 .placard .buy-now{
    border: none;
}


/* Primary care network */

section.networks .networks-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px;
    position: relative;
}

section.networks{
    position: relative;
}

section.networks h1{
    color: #1b267c;
    text-align: center;
    margin-top: 30px;
}

section.networks h2{
    color: #1b267c;
    font-size: 1.8em;

}
section.networks .networks-container .network--india{
    position: absolute;
    left: 250px;
    top: 180px;
}
section.networks .networks-container .network--india .cities,
section.networks .networks-container .network--india .care-center{
    padding: 10px;
    position: relative;
}
section.networks .networks-container .network--india h2{
    margin: 0;
}

section.networks .networks-container .network--india .cities::before{
    content: url(../images/networks-cities.png);
    position: absolute;
    left: -60px;
    top: 2px;
}
section.networks .networks-container .network--india .care-center::before{
    content: url(../images/networks-carecenters.png);
    position: absolute;
    left: -80px;
    top: 0px;
}

section.networks>img{
    position: absolute;
    left: 50%;
    margin-left: -210px;
    z-index: 10;
    top: 22%;
    height: auto;
    width: 25%;
}

/* Health Pass */

section.healthpass{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;

}

section.healthpass .healthpass-leftcontainer h1{
    color: #1b267c;
    font-size: 1.5em;
    margin-bottom: 50px;
}

section.healthpass .healthpass-leftcontainer .row1,
section.healthpass .healthpass-leftcontainer .row2{
    display: flex;
    align-items: center;
    justify-content: center;
}

section.healthpass .healthpass-leftcontainer .service{
    width: 120px;
    height: 90px;
    text-align: center;
    border-right: 1px solid #ebebeb;
    padding: 10px;
}

section.healthpass .healthpass-leftcontainer .row1 .service{
    border-bottom: 1px solid #ebebeb;
}
section.healthpass .healthpass-leftcontainer .row1 .service:last-child,
section.healthpass .healthpass-leftcontainer .row2 .service:last-child{
    border-right: none;
}

section.healthpass .healthpass-leftcontainer img{
    height: 50px;
    margin-bottom: 6px;
    /* margin-top: 4px; */
}

section.healthpass .healthpass-leftcontainer .service p{
    margin: 0;
    font-size: 0.8em;
}

section.healthpass .healthpass-leftcontainer .appstorelinks img{
    margin: 50px 15px 0 0;
}

/* Healthassure news */
section.news{
    padding: 80px 50px;
}
.common-h1{
    color: #1b267c;
    text-align: center;
    margin-bottom: 50px;
}
section.news .news-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.news .news-container .news-date{
    color: #666666;
    font-family: sans-serif;
    margin: 0;
    font-size: 0.7em;
    padding: ;
}
section.news .news-container .news-text{
    margin: 0;
}
section.news .news-container .news-text-container{
    padding: 0 10px;
    line-height: 20px;
}

/* clients */
section.clients{
    background-color: #f5f7f8;
    padding-top: 30px;
}
section.clients .clients-review-container{
    padding: 0px 100px;
}
section.clients .clients-review-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section.clients .clients-review-container  .client-review{
    margin: 0 30px;
}
section.clients .clients-review-container .client-review-text{
    background-color: white;
    padding: 25px;
    line-height: 23px;
}
section.clients .clients-review-container .client-review-profile{
    display: inline-flex;
    align-items: center;
    position: relative;
    top: -18px;
    left: 10px;
}

section.clients .clients-brand-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section.clients .clients-review-container .client-review-profile p{
    margin: 0;
}
section.clients .clients-review-container .client-review-profile p.post{
    color: #666666;
}